<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class="container">
Hydroclimate is an increasing focus of the paleoclimate community and the last several years have seen important data products developed to study hydroclimate variability and change during the Common Era. A growing collection of proxy records have been selected and discussed by the PAGES 2K regional working groups and hydroclimate is targeted as the next key variable of study.
                <br><br>
            	</div>
            </div>
            <div class='row'>
                <div class="container">
At the same time, an explosion in the number of last-millennium simulations using fully-coupled climate models has occurred over the last several years.  In particular, the PMIP3 effort included a last-millennium protocol and multiple modeling centers performed the experiment, using the same configurations and resolutions adopted for the historical and future projection simulations in CMIP5.  More recently, ensembles of last-millennium simulations have been performed that include single forcing experiments.  All of these developments make the time ripe for exploring how climate models simulate hydroclimate change and variability and whether they do so in ways that are consistent with the paleoclimate record.  Ultimately, comparisons between proxy records and model simulations will further enhance our abilities to evaluate climate models, understand the dynamics of hydroclimate variability and change, and constrain our characterizations of climate risks in the future. 
                <br><br>
            	</div>
            </div>
<div class='row'>
                <div class="container">
Addressing these emerging themes was the focus of the workshop titled "Comparing data and model estimates of hydroclimate variability and change over the Common Era." The meeting was a joint effort of PAGES 2K the PAST2K working group of PMIP (Paleoclimate Modelling Intercomparison Project).  It was held on June 1-3, 2016 at the <a href="http://www.ldeo.columbia.edu/">Lamont-Doherty Earth Observatory</a> of Columbia University, Palisades, NY, USA.  Additional information can be found at the <a href="http://pastglobalchanges.org/calendar/past/127-pages/1535-data-model-compare-hydroclimate">PAGES Calendar site</a>. 
                <br><br>
            	</div>
            </div>
            <div class='row'>
                <div class="container">
The aims of the workshop were to:<br><br>
1) promote discussion and collaboration across the PAGES2k and PMIP3 communities,<br>
2) review Common-Era proxy archives appropriate for hydroclimate assessment,<br>
3) review the current ensemble of coupled model simulations of the Common Era,<br>
4) review and refine best practices for model-data comparisons of hydroclimate over the Common Era,<br>
5) advance understanding of model assessments and constraints on future projections using model-data comparisons of hydroclimate over the Common Era,<br>
6) define future goals, products and timelines for collaborations between the PAGES2k and PMIP3 communities, specifically with regard to hydroclimate.<br><br>
            </div>
            </div>
        </div>
    </section>
