<!-- Accommodations Section -->
    <section id="accommodations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel and Accommodations</h2>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class="container">
The workshop will be hosted at the Lamont-Doherty Earth Observatory, which is located just south of Palisades, NY.  A block of rooms will available at the <a href="http://www.hiorangeburg.com/">Holiday Inn in Orangeburg</a> and hotel-to-workshop transport will be provided by the hotel.  Flights should be arranged into Newark or Laguardia airports.  Public transit is not available to the hotel and car service will be the best means of transport from the airports to Orangeburg.  For those travelers who decide to stay in the New York City, a shuttle bus is available to the Lamont campus on an <a href="http://www.ldeo.columbia.edu/campus-services/administration/columbia-university-lamont-shuttle-bus-schedule">hourly schedule</a>.  A majority of the meals will be catered and provided as part of the workshop funding.  Additional informtation on travel and local logistics will be provided as they become available. 
            	</div>
            </div>

        </div>
    </section>
