<!-- Accommodations Section -->
    <section id="accommodations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel and Accommodations</h2>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class="container">
The workshop will be hosted at the Lamont-Doherty Earth Observatory.  A block of rooms will available at the Holiday Inn in Orangeburg and hotel-to-workshop transport will be provided by the hotel.  Additional informtation on travel logistics and meals will be provided as they become available. 
            	</div>
            </div>

        </div>
    </section>
