<!-- Services Section -->
    <section id="agenda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Agenda</h2>
                </div>    
            </div>
                    <br><br>
            <div class='row'>
                <div class="container">
                    The agenda of the meeting was divided into four main themes:<br><br>
                    1) Hydroclimate Proxies and Large-Scale Syntheses<br>
                    2) Model Simulations of the Common Era<br>
                    3) Data-Model Comparisons<br>
                    4) Proxy System Modeling, Data Assimilation and Proxy Comparisons<br>
            <br><br>
                    A pdf copy of the complete agenda is available <a href="http://www.ldeo.columbia.edu/~jsmerdon/papers/PAGES2kPMIP3_Workshop_Agenda_2016.pdf">here</a>.
                </div>
            </div>

            {% for topic in site.data.agenda %}
            <div class="row">
            </div>
            <div class="container">
              	<div class="row research-topic">
                  <div class="col-md-3">
                  		<img class="img-responsive alt="" src={{ topic.imgSrc }}>
                	</div>
                	<div class="col-lg-8 .col-md-offset-3">
                  		<h4>{{ topic.name }}</h4>
                  		<p class="text-muted">{{ topic.description }}</p>
                      <br><br><br><br>
                  	</div>
             	 </div>
            </div>
            {% endfor %}
        </div>
    </section>
