<!-- Participants Section -->
    <section id="participants">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Participants</h2>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class="container">
This workshop is being organized by Jason Smerdon and international co-chairs Juerg Luterbacher and Steven Phipps.  A local organizing committee is also helping with the planning and execution of the meeting: Laia Andreu Hayles, Brendan Buckley, Rosanne D'Arrigo, Yochanan Kushnir, Justin Mankin, Richard Seager and Deepti Singh.  Additional administrative coordination is being provided by Mercedes Paulino.<br><br>
Additional attendees and speakers will be listed here as the information becomes available.
            	</div>
            </div>

        </div>
    </section>
